#sym-eventslist {
    clear: both;
}
.sym-filterform .box1 {
    padding-bottom: 10px;
}
.sym-event-row {
    position: relative;
    min-height: 140px;
    margin-bottom: 20px;
}
.sym-event-row .sym-event-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
}
.sym-event-row .sym-event-details {
    margin-left: 140px;
}
@media only screen and (max-width: 999px) {
    .sym-event-row .sym-event-details {
        margin-left: 10px !important;
    }
}
.sym-event-page .sym-event-image {
    float: right;
    margin-bottom: 1em;
    margin-left: 1em;
}
.sym-event-item {
    margin-bottom: 10px;
    line-height: 1.3;
}

.pane-symphony-sas-extras .views-row h1 {
	color: #004abf;
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    font-family: "Trebuchet MS", Myriad, Helvetica, Arial, sans-serif;
}
.pane-symphony-sas-extras .views-row {
    margin-bottom: 10px !important;
}
.pane-symphony-sas-extras .views-row .date,
#sym-eventslist .sym-event-dets .date {
    font-weight: bold;
    font-size: 12px;
    color: #181818;
}
.pane-symphony-sas-extras .views-row .details,
#sym-eventslist .sym-event-dets {
    font-size: 12px;
    line-height: 16px;
    max-height: 48px;
    overflow: hidden;
    color: #555;
}
.pane-symphony-sas-extras .views-row .location {
    font-size: 12px;
    line-height: 16px;
    max-height: 48px;
    overflow: hidden;
    color: #555;
}
.sym-contactdetails {
    margin-top: 20px;
}
